/* 반응형 웹 */
@media screen and (max-width:1669px){
    /* 1500px 이하일 때 */
    main .visual video {
        width: auto; height: 100%;
    }
    main .login_bg {
        max-width: calc(100% - 60px);
    }
}/* 1500 end */
@media screen and (max-width:900px){
    #lang {display: none;}
    footer .f_menu {font-size: 0.777rem;}
    footer .f_copy {font-size: 0.777rem;}
}